importlib_metadata==3.1.1
astropy==4.1
jupyterlab
numpy
seaborn
scipy
tqdm
treecorr
uncertainties
lenspack==1.0.0
#pyccl
joblib
scipy==1.5.4
seaborn==0.11.1
setuptools==45.2.0
tqdm==4.60.0
treecorr==4.1.7
uncertainties==3.1.5
#vos==3.1.1
#git+https://github.com/LSSTDESC/CLMM.git
