importlib_metadata
adjustText
colorama
emcee
cs_util==0.1.0
astropy>=5.0
healpy
getdist
h5py
jupyterlab
lmfit
numpy==1.26.4
lenspack
joblib
jupyter
jupytext==1.15.1
regions
reproject
shear_psf_leakage==0.2.0
scipy
seaborn
setuptools==65.5.1
statsmodels
treecorr
tqdm
uncertainties
pyccl
opencv-python-headless
