importlib_metadata
colorama
#cs_util==0.1.0
astropy>=5.0
healpy
getdist
jupyterlab
lmfit
numpy==1.23
lenspack
joblib
jupyter
jupytext==1.15.1
regions
reproject
#shear_psf_leakage==0.1.6
scipy
seaborn
setuptools==65.5.1
treecorr
tqdm
uncertainties
